<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Gitlab.Test.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFirtnameLastname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidUsername</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegisterWithoutInput</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPasswordLengh</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginUsingGmail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
