<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:40</td>   <td>10617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginUsingGmail()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">loginUsingGmail</td> 
  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:44</td>   <td>15337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:45</td>   <td>16105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:54</td>   <td>25039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyFirtnameLastname()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">verifyFirtnameLastname</td> 
  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:55</td>   <td>25827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:15:56</td>   <td>26578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:04</td>   <td>34799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPasswordLengh()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">verifyPasswordLengh</td> 
  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:05</td>   <td>35659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:05</td>   <td>36384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:13</td>   <td>44517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyRegisterWithoutInput()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">verifyRegisterWithoutInput</td> 
  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:14</td>   <td>45389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:15</td>   <td>46404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:24</td>   <td>54825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyValidEmail()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">verifyValidEmail</td> 
  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:24</td>   <td>55521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:26</td>   <td>56614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:34</td>   <td>64885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyValidUsername()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">verifyValidUsername</td> 
  <td>main@1543148593</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/09/09 21:16:35</td>   <td>66069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@21507a04]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1543148593</td>   <td></td> </tr>
</table>
