<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gitlab Automation Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>20/09/09 21:19:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:19:52</td>   <td>13550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginUsingGmail()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">loginUsingGmail</td> 
  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:00</td>   <td>21383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:01</td>   <td>22138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:11</td>   <td>31958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyFirtnameLastname()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">verifyFirtnameLastname</td> 
  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:13</td>   <td>33760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:13</td>   <td>34447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:23</td>   <td>43601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPasswordLengh()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">verifyPasswordLengh</td> 
  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:24</td>   <td>45263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:25</td>   <td>45990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:34</td>   <td>54947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyRegisterWithoutInput()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">verifyRegisterWithoutInput</td> 
  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:36</td>   <td>56996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:37</td>   <td>57869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:45</td>   <td>66495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyValidEmail()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">verifyValidEmail</td> 
  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:47</td>   <td>67916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:48</td>   <td>68965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:57</td>   <td>78241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyValidUsername()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">verifyValidUsername</td> 
  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/09/09 21:20:59</td>   <td>80020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.Gitlab.Test.LoginTest@42d80b78]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@16059164</td>   <td></td> </tr>
</table>
